# This is Git's per-user configuration file.
[user]
	email = rushil.mallarapu@gmail.com
# Please adapt and uncomment the following lines:
#	name = Rushil Mallarapu
#	email = rushil.mallarapu@gmail.com
